---
layout: home
title: HackGT
permalink: /community/
---

<body>
	<div class="container">
		<div class="page-header">
			<h1>Hacker of the Week</h1>
		</div>
		<div class = "row">
			{% for hacker in site.data.hackers limit:1 %}
			<div class = "col col-lg-6 col-md-6 col-sm-12 text-center">
				<img src="{{hacker.picture}}">
			</div>
			<div class = "col col-lg-6 col-md-6 col-sm-12 hacker-main">
				<h2 class="text-center name">{{hacker.name}}</h2>
				<h4 class="text-center date">{{hacker.week }}</h4>
				<p>{{hacker.description}}</p>
				<div class="text-right links">
					<a href="{{hacker.facebook}}" target="_blank" class="facebook-link"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
					<a href="{{hacker.github}}" target="_blank" class="github-link"><i class="fa fa-github" aria-hidden="true"></i></a>
				</div>
			</div>
			{% endfor %}
		</div>
		{% for hacker in site.data.hackers offset:1 %}
			{% assign mod = forloop.index0 | modulo:4 %}
			{% if mod == 0%}
				<div class = "row">
			{% endif %}

			<div class="col col-lg-3 col-md-3 col-sm-12">
				<img src="{{hacker.picture}}">
			</div>

			{% if mod == 3 or forloop.index == forloop.length %}
				</div>
			{% endif %}

		{% endfor %}
	</div>
</body>
